@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button type="button">18:00</button>
<button type="button">20:30</button>
<button type="button">22:45</button>