@inherits LayoutComponentBase
@using FrontEnd.Services
@inject IMobileMenuService MobileMenuService
@inject NavigationManager NavigationManager


<div class="full-width-page">
    <main class="full-width-main">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .full-width-page {
        display: block;
        width: 100%;
    }
    
    .full-width-main {
        margin-left: 0;
        width: 100%;
    }
</style>

@code {
    [JSInvokable]
    
    public Task CloseMobileMenu()
    {
        return MobileMenuService.CloseMobileMenu();
    }
}