@page "/review"

<link href="css/movie-detail.css" rel="stylesheet" />
<link href="css/review.css" rel="stylesheet" />

<h2 class="section-heading">Reviews</h2>
<!--Form-->
<div class="formContainer">
    <div class="row">
        <div class="col-25">
            <label for="fname">First Name</label>
        </div>
        <div class="col-75">
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="email">Email</label>
        </div>
        <div class="col-75">
            <input type="text" id="email" name="email" placeholder="Your email..">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="rating">Rating</label>
        </div>
        <div class="col-75">
            <!--Star rating-->
            <div id="divRating" class="rating">
                <span id="spanRatingExcellent" title="Excellent">☆</span>
                <span id="spanRatingGood" title="Good">☆</span>
                <span id="spanRatingFair" title="Fair">☆</span>
                <span id="spanRatingPoor" title="Poor">☆</span>
                <span id="spanRatingAwful" title="Awful">☆</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="review">Review</label>
        </div>
        <div class="col-75">
            <textarea id="review" name="review" placeholder="Write something.." style="height:200px"></textarea>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Submit">
    </div>
</div>

<script>
    document.getElementById('divRating').addEventListener('click', function(event) {
        if (event.target.tagName.toLowerCase() != 'span') return;

        if (event.target.classList.contains('rated')) {
            event.target.classList.remove('rated');
        } else {
            Array.prototype.forEach.call(document.getElementsByClassName('rated'), function(el) {
                el.classList.remove('rated');
            });
            event.target.classList.add('rated');
        }
    });
</script>
